<div class="home-container">
    <h1>Hello, I'm Divyansh!</h1>
    <p>A seasoned Software Engineer from India with a track record of over 3 years in creating impactful front-end
        solutions. Proficient in JavaScript and Angular, I specialize in architecting and developing user-friendly
        applications across diverse industries, from telecommunication to government initiatives. My passion lies in
        crafting intuitive interfaces and collaborating with cross-functional teams to deliver high-quality, visually
        appealing products. Let's build the future together!
    </p>

    <div class="info-container">
        <button (click)="openResume()">Resume</button>
        <button (click)="openContactMeForm()">Contact Me</button>
    </div>

    <hr />

    <app-tech-stack></app-tech-stack>

    <hr />

    <app-projects></app-projects>
</div>